$color-primary: #FFE600;
$color-secondary: #FFFFFF;
$color-text-primary: #333333;
$color-text-secondary: #999999;
$color-text-details: #666666;
$color-background: #EEEEEE;
$color-blue: #3483FA;
$color-blue-light: #2968C8;
$color-blue-dark: #1F4E96;